@font-face {
  font-family: "iconfont"; /* Project id 3793898 */
  src: url('iconfont.woff2?t=1669455463459') format('woff2'),
       url('iconfont.woff?t=1669455463459') format('woff'),
       url('iconfont.ttf?t=1669455463459') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangqing:before {
  content: "\e626";
}

.icon-jiahao:before {
  content: "\e607";
}

.icon-anniu_jiantouxiangzuo_o:before {
  content: "\eb89";
}

